# Les variables d'environnement sont définies dans les fichiers suivants:

# =========================================================
# ".env"
# =========================================================

UID=1000
GID=1000

# https://supabase.com/dashboard/account/tokens
SUPABASE_ACCESS_TOKEN=""

PORT=8080

# =========================================================
# ".env.development"
# =========================================================

# https://supabase.com/dashboard/org/xxx
SUPABASE_PROJECT_ID=""

# https://supabase.com/dashboard/project/xxx?showConnect=true&connectTab=api-keys
VITE_SUPABASE_URL="https://xxx.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY=""

VITE_PORT=${PORT}
VITE_NODE_ENV="${NODE_ENV}"

# https://onesignal.com/
VITE_ONE_SIGNAL_APP_ID=""

# =========================================================
# ".env.production"
# =========================================================

SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL="https://xxx.supabase.co"
VITE_ONE_SIGNAL_APP_ID=""


